<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/main.css">
    </head>

    <body>
        <%-include('partials/header')%>
        <div class="container">
            <%if(locals.user) {%>
                <!-- for membershipstatus (join the club if you are not) -->
                <%if(!locals.user.membershipstatus){ %>
                    <%-include('partials/note', { status: 'join'})%>
                <%} else {%>
                    <!-- for who wants to be an admin -->
                    <%if(!locals.user.admin) {%>
                        <%-include('partials/note', {status: 'admin'})%>
                    <%}%>
                <%}%>
            <%} else { %>
                 <%-include('partials/note', {status: 'login'})%>
            <%}%>

            <%if(locals.messages) {%>
                <div class="msgs-container">
                    <%messages.forEach(msg=> {%>
                        <%-include('partials/msg', {
                            memberShipStatus: locals.user ? user.membershipstatus : false,
                            isAdmin: locals.user ? user.admin : false,
                            message : msg
                        })%>
                    <%})%>
                </div>
            <%}%>
        </div>
    </body>
</html>